Repository hmcts/cnp-plum-recipes-service, pull requests merged in 2019-04, with the labels that each got.

#21 Upgrade Java chart, refactor Preview configurations
  charts/plum-recipe-backend/Chart.yaml
  charts/plum-recipe-backend/requirements.yaml
  charts/plum-recipe-backend/values.aat.template.yaml
  charts/plum-recipe-backend/values.preview.template.yaml
  charts/plum-recipe-backend/values.yaml
Labels: ns:plum-recipe-backend-pr-21

#22 disable .Net scanning
  build.gradle
Labels: ns:plum-recipe-backend-pr-22

#24 deleting k8s files
  Jenkinsfile_pipeline_test
  src/kubernetes/config.aat.yaml
  src/kubernetes/config.saat.yaml
  src/kubernetes/deployment.template.yaml
  src/kubernetes/resource-limits.md
Labels: ns:plum-recipe-backend-pr-24

#25 Adding chart for crumble
  charts/crumble-recipe-backend/Chart.yaml
  charts/crumble-recipe-backend/requirements.yaml
  charts/crumble-recipe-backend/values.aat.template.yaml
  charts/crumble-recipe-backend/values.preview.template.yaml
  charts/crumble-recipe-backend/values.yaml
Labels: ns:plum-recipe-backend-pr-25

#26 Use hmctssandbox for crumble
  charts/crumble-recipe-backend/requirements.yaml
Labels: ns:plum-recipe-backend-pr-26

#27 Disable skip image build for sandbox environment
  Jenkinsfile_CNP
  Jenkinsfile_pipeline_test
Labels: ns:plum-recipe-backend-pr-27

#32 Fixing OWASP dependency check issues
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:plum-recipe-backend-pr-32

#31 RPE-1070 Update gradle to 5.3
  .gitignore
  build.gradle
  checkstyle.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  infrastructure/main.tf
  lombok.config
  src/main/java/uk/gov/hmcts/reform/rhubarb/recipes/Application.java
  src/main/java/uk/gov/hmcts/reform/rhubarb/recipes/data/RecipeStore.java
  src/main/java/uk/gov/hmcts/reform/rhubarb/recipes/domain/ErrorResult.java
  src/main/java/uk/gov/hmcts/reform/rhubarb/recipes/domain/Recipe.java
  src/main/java/uk/gov/hmcts/reform/rhubarb/recipes/domain/RecipeList.java
  src/main/java/uk/gov/hmcts/reform/rhubarb/recipes/endpoint/EndpointExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/rhubarb/recipes/endpoint/RecipeController.java
  src/main/java/uk/gov/hmcts/reform/rhubarb/recipes/exception/NoRecipeFoundException.java
  src/test/functional/java/uk/gov/hmcts/reform/rhubarb/functional/HealthCheckTest.java
  src/test/functional/java/uk/gov/hmcts/reform/rhubarb/functional/RecipesTest.java
  src/test/gateway/java/uk/gov/hmcts/reform/rhubarb/api/GetAllRecipesTest.java
Labels: ns:plum-recipe-backend-pr-31

#35 Update API mgmt name to plum
  infrastructure/main.tf
Labels: ns:plum-recipe-backend-pr-35

#36 Update gatling version
  src/gatling/simulations/uk/gov/hmcts/reform/rhubarb/performance/RhubarbReferenceSimulation.scala
Labels: ns:plum-recipe-backend-pr-36

#37 Add flags to enable staging deployment
  Jenkinsfile_CNP
  Jenkinsfile_pipeline_test
Labels: ns:plum-recipe-backend-pr-37

#40 Pointing image to sandbox as crumble is used by pipeline tests
  charts/crumble-recipe-backend/values.yaml
Labels: ns:plum-recipe-backend-pr-40

#41 Fixing image paths
  charts/crumble-recipe-backend/values.yaml
  charts/plum-recipe-backend/values.yaml
Labels: ns:plum-recipe-backend-pr-41

#44 Adding ssl require on AAT templates
  charts/crumble-recipe-backend/values.aat.template.yaml
  charts/crumble-recipe-backend/values.saat.template.yaml
  charts/plum-recipe-backend/values.aat.template.yaml
  charts/plum-recipe-backend/values.saat.template.yaml
Labels: ns:plum-recipe-backend-pr-44
