Repository hmcts/cnp-plum-recipes-service, pull requests merged in 2019-03, with the labels that each got.

#15 Update chart to use in aat aks environment
  build.gradle
  charts/plum-recipe-backend/Chart.yaml
  charts/plum-recipe-backend/requirements.yaml
  charts/plum-recipe-backend/values.template.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:plum-recipe-backend-pr-15

#20 Update spring version. Add cve suppression (no fix yet)
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:plum-recipe-backend-pr-20

#19 update chart-java
  charts/plum-recipe-backend/requirements.yaml
  charts/plum-recipe-backend/values.template.yaml
Labels: ns:plum-recipe-backend-pr-19
