Repository hmcts/cnp-plum-recipes-service, pull requests merged in 2022-11, with the labels that each got.

#618 Bump library
  charts/plum-recipe-backend/Chart.yaml
  dependency-check-suppressions.xml
Labels: ns:cnp, prd:plum, rel:plum-recipe-backend-pr-618

#624 Bump library to test
  charts/plum-recipe-backend/Chart.yaml
Labels: ns:cnp, prd:plum, rel:plum-recipe-backend-pr-624

#626 Update Chart.yaml
  charts/plum-recipe-backend/Chart.yaml
Labels: ns:cnp, prd:plum, rel:plum-recipe-backend-pr-626

#634 Fix swagger action
  .github/workflows/swagger.yaml
Labels: ns:cnp, prd:plum, rel:plum-recipe-backend-pr-634
