Repository hmcts/cnp-plum-recipes-service, pull requests merged in 2022-08, with the labels that each got.

#551 Java chart version corrections for preview testing
  charts/crumble-recipe-backend/Chart.yaml
  charts/plum-recipe-backend/Chart.yaml
Labels: ns:cnp, prd:plum, rel:plum-recipe-backend-pr-551

#557 Back to master of Jenkins library
  Jenkinsfile_CNP
Labels: ns:cnp, prd:plum, rel:plum-recipe-backend-pr-557

#562 Adds tfvars file for prod values
  charts/plum-recipe-backend/values.prod.template.yaml
Labels: ns:cnp, prd:plum, rel:plum-recipe-backend-pr-562

#574 fix content format for swagger
  infrastructure/main.tf
Labels: ns:cnp, prd:plum, add-or-update, rel:plum-recipe-backend-pr-574

#576 Dtspo 8117 plum prod
  infrastructure/main.tf
Labels: ns:cnp, prd:plum, rel:plum-recipe-backend-pr-576

#577 Add backstage configuration file
  catalog-info.yaml
Labels: ns:cnp, prd:plum, rel:plum-recipe-backend-pr-577
