Repository hmcts/cnp-plum-recipes-service, pull requests merged in 2023-01, with the labels that each got.

#663 DTSPO-11788 - add temp suppression for CVE-2022-45143
  dependency-check-suppressions.xml
Labels: ns:cnp, prd:plum, rel:plum-recipe-backend-pr-663

#665 Update Chart.yaml
  charts/plum-recipe-backend/Chart.yaml
Labels: ns:cnp, prd:plum, rel:plum-recipe-backend-pr-665

#666 Update Chart.yaml
  charts/plum-recipe-backend/Chart.yaml
Labels: ns:cnp, prd:plum, rel:plum-recipe-backend-pr-666

#667 Upgrade spring boot and appinsights agent
  .github/renovate.json
  Dockerfile
  build.gradle
Labels: ns:cnp, prd:plum, rel:plum-recipe-backend-pr-667
