Repository hmcts/cnp-plum-recipes-service, pull requests merged in 2023-06, with the labels that each got.

#774 Updating renovate config
  .github/renovate.json
Labels: ns:cnp, prd:plum, rel:plum-recipe-backend-pr-774

#778 workload identity change to test
  charts/plum-recipe-backend/Chart.yaml
Labels: ns:cnp, prd:plum, rel:plum-recipe-backend-pr-778

#780 Change chart-java version
  charts/plum-recipe-backend/Chart.yaml
Labels: ns:cnp, prd:plum, rel:plum-recipe-backend-pr-780

#785 Dtspo 13615
  charts/plum-recipe-backend/Chart.yaml
Labels: ns:cnp, prd:plum, rel:plum-recipe-backend-pr-785

#797 Update suppressions
  dependency-check-suppressions.xml
Labels: ns:cnp, prd:plum, rel:plum-recipe-backend-pr-797
